<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="~/Content/favicon.ico">

    <!-- Custom styles for this template -->
    <link href="~/Content/carousel.css" rel="stylesheet">

    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ryn8ZhJw_SfInq8PyrQAw0YpCvvafyyqgMxIIOUsm6MRSy-0nEvhq04lYxUkiCrUFzEpFz2kRkX3r4k4ja5lxPUuPeaL3-s15McNhC4BR84" charset="UTF-8"></script>
    <link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9nZXRib290c3RyYXAuY29tL2RvY3MvNC4wL2V4YW1wbGVzL2Nhcm91c2VsLw" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <main class="container body-content" role="main">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="col-lg-12">
                    <h1>Магазин кастомизированных кроссовок</h1>
                    <p>Вы можете преобрести у нас уже готовые модели, а также выбрать себе подходящую пару с помощью конструктора кроссовок.</p>
                </div>
            </nav>
        </header>
        @RenderBody()
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017-2020 Кампания, ОАО. &middot; <a href="#">Мы ВКонтакте</a> &middot; <a href="#">Наш Instagram</a></p>
        </footer>
    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/jquery-3.2.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="~/Content/popper.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="~/Content/holder.min.js"></script>
</body>
</html>